In [ ]:
# sentimental anaysis using python

In [18]:
import tweepy
from textblob import TextBlob
from wordcloud import WordCloud
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [ ]:
log= pd.read_csv("") #get the data

In [ ]:
#Twitter API credentials
# consumer_key = log[key][0] #API key
# consumer_secret = log[key][1] #API secret key
# access_token = log[key][2]
# access_token_secret= log[key][3]

In [19]:
consumer_key ="q0NejHvZ52ECbaoePYWvGun6e" #API key
consumer_secret ="ZY0o6TzAz5DnMvAJMreKwj9Y2ezHWyJ7Nf5qBhydKKUkG3kLMP" #API secret key
access_token ="1251791945929822208-B1yS5qwD11memF0zY1EwyQNUz3qCtj"
access_token_secret ="wh7dEQARydEzPBRGADHyfB8uDGXKgM4dsuSXLvbUupTrm"

In [22]:
auth= tweepy.OAuthHandler(consumer_key,consumer_secret) #create authentication object #authentication handler to be used
auth.set_access_token(access_token,access_token_secret) #set the access token and access taken secret

In [21]:
api= tweepy.API(auth) #create connection between python & twitter by passing the auth info
api

In [55]:
#extract 100 tweets from twitter account
post= api.user_timeline(screen_name="ISRO",count=100, lang="en",tweet_mode= "extended")

In [56]:
i=1
for tweet in post[0:5]:
    print(str(i) +")" + tweet.full_text + "\n")
    i=i +1
#     analysis= TextBlob(tweet.full_text+ "\n")
#     print(analysis.sentiment)

1)Join us during 09-11, November 2020 for live Webinar on Geoportals: Bhuvan, VEDAS &amp; MOSDAC

Registration not required. Link for the webinar will be shared shortly. https://t.co/dhFXcpgIgb

2)As part of 150th birth anniversary celebrations of Mahatma Gandhi, #ISRO organised webinar and conducted various events &amp; competitions for all employees.

#Gandhi150 #Mahatma150 #MahatmaGandhi https://t.co/oFgvYrwg5j

3)Department of Space and Department of Atomic Energy jointly organized Valedictory function of Vikram Sarabhai Centenary Programme  on September 25, 2020. Eminent speakers shared their association with Dr. Vikram Sarabhai.

For Details visit: https://t.co/WEcjArBMhZ https://t.co/yao6Mv79sX

4)Dr B N Suresh and Dr. K Sivan were awarded the prestigious IEEE 'Simon Ramo Medal' 2020 for their exemplary work in the field of systems engineering.

#ISRO @ieee_section

For details visit: https://t.co/RpBjG0UBiV https://t.co/LswiI15NTK

5)Webinar on "Harnessing the Potential of Remote Sensing Data" is organised on September 29, 2020 at 1400 hrs (IST)

Register at: https://t.co/bTjryox1sH

For more details visit: https://t.co/KoLmkz7GXz https://t.co/LUswKGt2gP

In [57]:
#create a dataframe with new column tweet
df= pd.DataFrame([tweet.full_text for tweet in post], columns= ["TWEETS"])

In [59]:
df.head()

                                              TWEETS
0  Join us during 09-11, November 2020 for live W...
1  As part of 150th birth anniversary celebration...
2  Department of Space and Department of Atomic E...
3  Dr B N Suresh and Dr. K Sivan were awarded the...
4  Webinar on "Harnessing the Potential of Remote...

In [ ]:
# Create a  function to clean the data
def clean

In [60]:
!pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.